.div-form, .sol-output {
    margin-top: 80px;
    // Bottom spacing
    margin-bottom: 200px;
}

.f-row {
    margin-top: 20px;
}

#submit-adj-matrix {
    margin-top: 20px;
}

.error-align {
    margin-top: 170px;
}

.div-index {
    font-size: larger;
    margin-top: 70px;
}