<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Johnson's Algorithm Demonstration</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="../static/demo.js"></script>
        <script src="../static/validate.js"></script>
    </head>
    <body class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 div-form">
                    <h1 class="mb-5 text-center">Johnson's Algorithm Demonstration</h1>
                    <form id="form" onsubmit="return validateForm()" action="{{ url_for('demo') }}" method="POST">
                        <h3 class="mb-4">Create Nodes</h3>
                        <div class="row">
                            <!-- Field to input the number of nodes -->
                            <div class="col-md-4 mb-3">
                                <label for="nodeNum">Number of Nodes</label>
                                <input type="number" name="nodeNum" id="nodeNum" class="form-control" min="2" required>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <h3 class="mb-4">Add Edge &nbsp;
                            <button class="btn btn-outline-dark" onclick="return createEdge()" style="border-radius: 8px;">+</button>
                        </h3>
                        <span class="text-muted">
                            <!-- Instructions to use the application -->
                            <h5>Instructions : </h5>
                            <ul>
                                <li>The edges start from 0 to (number of nodes - 1).</li>
                                <li>Please dont add edge weights for loops.</li>
                                <li>If edges are non-available set edge weight fields as "infinity".</li>
                            </ul>
                        </span>
                        <div class="row f-row">
                            <!-- non-deletable edge since graph must have atleast one edge -->
                            <div class="col-md-3 mb-3">
                                <label for="s-1">Source Node</label>
                                <input type="number" name="source[]" id="s-1" class="form-control" min="0">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="d-1">Destination Node</label>
                                <input type="number" name="destination[]" id="d-1" class="form-control" min="0">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="w-1">Edge Weight</label>
                                <input type="text" name="weight[]" id="w-1" class="form-control">
                            </div>
                        </div>
                        <!-- Region where new edge divs will be added or removed from -->
                        <div class="mb-3" id="submit-adj-matrix">
                            <!-- button to submit form -->
                            <button type="submit" class="btn btn-dark">Submit Adjacency Matrix</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div class="my-5 pt-5 text-muted text-center text-small">
                <!-- Created by text -->
                <p>Website created by Raghav Verma and Vishwanath Kamath</p>
            </div>
        </footer>
    </body>
</html>