<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Johnson's Algorithm</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body class="bg-light">
        <header>
            <div class="navbar navbar-dark bg-dark text-light">
                <a class="navbar-brand" href="#">
                    <h3>Johnson's Algorithm</h3>
                </a>
                <!-- edit -->
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsElements" aria-controls="navbarsElements" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarsElements">
                    <div class="navbar-nav mr-auto">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a href="#introduction">Introduction</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- edit end -->
            </div>
        </header>
        <div class="container div-index">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <!-- Intro to Johnson's Algorithm/ Overview-->
                    </div>
                    <div class="mb-3">
                        <!-- What is all pair shortest path problem -->
                    </div>
                    <div class="mb-3">
                        <!-- Why is this better ? -->
                    </div>
                    <div class="mb-3">
                        <!-- Detailed explanation of Johnsohns -->
                    </div>
                    <div class="mb-3">
                        <!-- Drawbacks/negatives -->
                    </div>
                    <div class="mb-3">
                        <!-- Summary -->
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>